

{{ foo.bar }}
{{ foo["bar"] }}

{% block top %}
This is on top! {# this gets ignored #}
{% endblock %}

{# output starts here#}
{% extends "index.html" %}

{% block content %}
{{super()}} {# here we inherit the "content" block and its from 'index.html'#}
Right under it!
{% endblock %}

<!--var items = [{ title: "foo", id: 1 }, { title: "bar", id: 2}];-->

<h1>{{title}}</h1> {# this comes from app.js#}
<ul>
{% for item in items %}
  <li>{{ item.title }}</li>
  
{% else %}
  <li>This would display if the 'item' collection were empty</li>
  <li>{{title}}</li>
{% endfor %}
</ul>

<h1>nunjucks.renderString('Hello {{username}}', {username: 'Michael'});</h1>