<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Example-1</title>
 </head>
 <body>
  <h1>Here we are!</h1>
  <script src="nunjucks.js"></script>
 </body>
</html>

-->





{% set tableData=[["Pastilles - Orange 18-unit case - EAN: 15745000121080","104","12/09-22","DKSENO","2","4"], 
                ["Mint case - EAN: 25700002082507", "2","25/02-23","SE","1","2"],
                ["Pastilles - Cherry 18-unit case - EAN: 15745000121011","102","18/07-22","DK/SE/NO","1","2"],
                ["Pastilles - Fresh Mint 18-unit case - EAN: 15745000121004","101","18/07-22","DKSENO","2","4"],
                ["Pastilles - Orange 18-unit case - EAN: 15745000121080","104","12/09-22","DKSENO","2","4"],
                ["Raspberry & Vanilla case - EAN: 25700002082538","1","29/01-23","SE","4","8"],
                ["Strong Mint case - EAN: 25745000121032","5","22/02-23","SE","1","2"],
                ["Strong Mint case - EAN: 25745000121032","1","29/01-23","SE","4","8"],
                ["Raspberry & Vanilla case - EAN: 25700002082538","1","29/01-23","SE","4","8"]]  %}

{% set tableDataSorted= tableData | sort %}
{{tableDataSorted}}
<br>




{% set variable="<i>monkey</i>" %}
{{variable | safe}}

<br>
{% set holly="{{variable}}" %}
{{ holly | safe | escape}}

<br>


<!--{ "<tr rowspan="2">1</tr>" | escape }}-->
{{ "<html>" | escape }}

<br>

<html>

    <body>

    <h style="font-weight:bold;">{{title}} comes from app.js</h>


    <table style="border:1px solid black;">
        <tbody>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Date</th>
                <th>Language</th>
                <th>Misc1</th>
                <th>Misc2</th>
            </thead>
            <tr>
                <td rowspan=2>{{variable | safe}}</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
            </tr>
            






{{ tabledataSorted | rowSpan(tableDataSorted, 6)}}
</body>
</html>


