{% macro field(name, value='', type='text') %}
<div class="field">
  <input type="{{ type }}" name="{{ name }}" 
         value="{{ value | escape }}" />
</div>
{% endmacro %}

{# The above formula/filter/macro is a function that takes in 3 arguments (not all 3 are mandatory),
and creates an HTML input field (check class="field") everytime it's called. 
The type of input field is determined by the type we specify.
F.eks. below we call the fuction once with the name='user' => creates 1st input field 
       below we call the function twice, with name='pass' and type='password' => creates 2nd input field

#}


{% macro label(text="default") %}
<div>
  <label>{{ text }}</label>
</div>
{% endmacro %}


{{ label('first') }} {{ field('user') }}

{{ label('second') }} {{ field('pass', type='password') }}
<br>

{#Built-in Filters #}

{# 1. abs #}

{{ -99 | abs }}<br>

{# 2. batch #}

{% set items = [1,2,3,4,5,6] %}
{% set dash = joiner("-") %}
{% for item in items | batch(2) %} {# this creates a list [] of 2 items within the original "items" []#}
    {{ dash() }} {% for items in item %} {# for each list in the grand list #}
       {{ items }}
    {% endfor %}
{% endfor %}
<br>

{# 3. groupby #}
{# EX. 1 #}
{% set objectList = [
        { name: 'james', type: 'green' },
        { name: 'john', type: 'blue' },
        { name: 'jim', type: 'blue' },
        { name: 'jessie', type: 'green' }
    ]
%}


{% for type, objects in objectList | groupby("type") %}
    <b>{{ type }}</b> :
    {% for object in objects %}
        {{ object.name }}
    {% endfor %}<br>
{% endfor %}
<br>
{{ "\n" }}


{# EX.2 #}
{% set posts = [
      {
        date: {
          year: 2019
        },
        title: 'Post 1'
      },
      {
        date: {
          year: 2018
        },
        title: 'Post 2'
      },
      {
        date: {
          year: 2019
        },
        title: 'Post 3'
      }
    ]
%}



{% for year, posts in posts | groupby("date.year") %}
    <b>{{ year }}</b>:
    {% for post in posts %}
        {{ post.title }}
    {% endfor %}<br> {# after each year, put a line break, and the new year is added on a new line #}
{% endfor %}
<br>

{# replace #}

{% set word1="jack sparrow" %}
{{ word1 | replace("jack", "sparrow")}}
<br>
{# replace #}

{% set word2="aaabbbccc" %}
{{ word2 | replace("a", "x", 3)}}
<br>

{# round #}

{{ 4.5 | round(0, "floor")}}
<br>

{# slice #}

{% set arr = [1,2,3,4,5,6,7,8,9] %}

<div class="columwrapper">
  {%- for items in arr | slice(3) %}
    <ul class="column-{{ loop.index }}">
    {%- for item in items %}
      <li>{{ item }}</li>
    {%- endfor %}
    </ul>
  {%- endfor %}
</div>
<br>

{# truncate #}


{% set variable8="long name" %}
{{ variable8 | truncate(3)}}
<br>

{{ variable8 | truncate(5,true, "!")}}
<br>

{# urlize #}

{{ "work http://tracelink.dk link" | urlize | safe}}

{% block text %}
{{variable8}}
{% endblock %}

<br>
{{ variable8 | upper}}
<br>

